<!DOCTYPE html>

<html>
<head>

	{% load static %}
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

</head>
<body background="static/img/nature.jpg">
<header>
	<ul>
		<li><a>Home</a></li>
		<li><a>About</a>
			<ul>
				<li><a>Our Team</a></li>
				<li><a>Camp Sites</a></li>
				<li><a>Mission &amp; vision</a></li>
				<li><a>Resources</a></li>
			
			</ul>		
		</li>
		
		<li><a>Things to do</a>
			<ul>
				<li><a>Activites</a></li>
				<li><a>Perks</a></li>
				<li><a>Shops</a></li>
				<li><a>Events</a></li>
			</ul>		
		</li>
		<li><a>Contact</a>
			<ul>
				<li><a>Map</a></li>
				<li><a>Directions</a></li>
			</ul>
		</li>
		<li><a>News</a></li>
		<li><a>Login/register</a></li>
	</ul>
</header>
</body>

</html>
